
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
  padding-top: 1px;
  -moz-appearance: none;
  font-family: DejaVu Sans, Helvetica;
  font-size: 12px;
  font-weight: bold;
  background-color: #89A1F3;
  color: black;
}

#main-window.full-screen .mode-line {
  display: none;
}