
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#minibuffer {
  border-top: 0px solid #99B1F3;
  font-family: DejaVu Sans Mono;
  font-size: 14px;
  background-color: #0C141E !important;
  color: #A0AFA8 !important;
}

#minibuffer-prompt {
  font-weight: bold;
  color: cyan;
}

#minibuffer-input {
  color: #A0AFA8 !important;
  background-color: #0C141E !important;
}


/* mode text widgets */

#minibuffer .mode-text-widget {
  display: none;
}

#minibuffer[minibuffermode="message"] .mode-text-widget {
  display: block;
  border-left: 1px solid threedshadow;
  padding-left: 4px !important;
  padding-right: 4px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#minibuffer[minibuffermode="message"] .mode-text-widget[value=""] {
  display: none;
}


/* minibuffer highlighting */

#minibuffer.highlight {
  background-color: #2B343B !important;
  color: #A0AFA8 !important;
}

#minibuffer.highlight[minibuffermode="message"] .mode-text-widget {
  border-left: 1px solid highlighttext;
}


/* Completions display */

tree.completions { 
  margin: 0px !important; 
  background-color: #0C141E !important;
  color: #A0AFA8 !important;
}

tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }
tree.completions {
  -moz-appearance: none !important;
  border: 0px none !important;
  border-top: 0px solid -moz-Dialog !important;
  /* -moz-border-top-colors: -moz-initial !important; */
}

tree.completions treechildren::-moz-tree-row {
  border: none;
  background-color: #0C141E !important;
  color: #A0AFA8 !important;
}

tree.completions treechildren::-moz-tree-row(current) {
  background-color: #2B343B !important;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
  font-weight: bold !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
  color: cyan !important;
}

