
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
  padding-top: 1px;
  -moz-appearance: none;
  font-family: DejaVu Sans;
  font-size: 12px;
  font-weight: bold;
  background-color: #99B1F3;
  color: black;
}
