
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
  padding: 2px;
  -moz-appearance: none;
  font-family: DejaVu Sans;
  font-size: 12px;
  background-color: #CCCCCC;
  color: black;
}
